{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>IBMZ - REFERENCES</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/references.css'%}">
  </head>
  <body>
    <div class="action-buttons">
      <button type="button" name="add"> ADD NEW </button>
      <button type="button" name="update"> UPDATE </button>
      <button type="button" name="delete"> DELETE </button>
    </div>
      <table>
        <tr>
          <th>#</th>
          <th>REFCODE</th>
          <th>SYSTEM</th>
          <th>OPERATION_NUMBER</th>
          <th>OPERATION_NAME</th>
          <th>HM_DESCRIPTION</th>
          <th>FIX_ACTIONS</th>
        </tr>
        {% for refcode in refcodes %}
        <tr>
          <td>{{ refcode.id }}</td>
          <td>{{ refcode.code }}</td>
          <td>{{ refcode.system }}</td>
          <td>{{ refcode.operation_number }}</td>
          <td>{{ refcode.operation_name }}</td>
          <td>{{ refcode.hm_description }}</td>
          <td>{{ refcode.fix_action }}</td>
        </tr>
        {% endfor %}
      </table>
  </body>
</html>