*{
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100px auto 50px;
    grid-template-areas:
        "logo header"
        "menu content"
        "footer footer";
    font-family: 'Montserrat', sans-serif;
}
/* Start of Header styles */
.header{
    grid-area: header;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    color: whitesmoke;
    background-color: #03002d ;
    background-image: linear-gradient(to top left, white -40%, #030f40 , black -54% , #030f405d 89%);
}
.logo {
    display: flex;

    justify-content: center;
    align-items: center;
    background-color: #03002d;
}
.logo img{
   height: 100px;

}

.user {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 525px;
}

.user_picture img {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.user_info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    height: 75px;
}
/* end of Header styles */


/* Menu navigator styles */
.menu{
    grid-area: menu;
    background-color: #03002d;
    background-image: linear-gradient(to top left, white -40%, #030f405d 50%, black -54% , #030f405d 89%);


}
.nav_menu{
    height: 65%;
}
.nav_menu--container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;

}
.menu--item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 55px;
    width:95%;

    color: whitesmoke;
    margin-bottom: 5px;
    transition: .5s;

}

.menu--item:hover{
    background-color:#030f40 ;
}


.link--menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    text-decoration: none ;
    width: 150px;
    color: inherit;
    height: 100%;
    width: 100%;
    text-align: start;
}

/* End of navigator styles */
/* CONTENT START */
.content{
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #03002d;
    background-image: linear-gradient(#03002d 30%, black 70%);
}

.field {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    width: 60%;
    min-width: 240px;
}
.form-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: fit-content;

}

.form-group textarea{
    height: 72px;
    font-size: initial;

}

.form-control {
    all: unset;
    width: 60%;
    min-width: 200px;
    height: 100%;
    padding: 5px;
    background-color: whitesmoke;
    color: black;
    font-size: initial;

}

.profile_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 480px;
    max-width: 720px;
    border-radius: 10px;
    border: gray solid 2px;
    height: 95%;
    max-height: 720px;
    margin: 10px;
    background-color: rgba(255, 255, 255, .1);
    font-size: 20px;
    color: whitesmoke;
}
.profile_info form{
    width: 90%;
    min-width: 420px;
    height: 90%;
    min-height: 680px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.update_profile--formbutton {
    height: 48px;
    color: whitesmoke;
    background-color: cadetblue;
    font-size: 20px;
}

.media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

.media img {
    border-radius: 50%;
    height: 100px;
    width: 100px;

}

.media-body {
    padding-left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}

.table_refcode{
  border: 2px solid white;
  color: white;

  width: 95%;
}

.table_refcode table{
  width: 100%;
}

.table_refcode table th{
  background-color: rgba(255,255, 255, .2);
  padding: 0 5px
}

.table-row{
  color: white;
}

/* CONTENT END */

/* FOOTER */
.footer{
    grid-area: footer;
    background-color: black;
    color: ivory;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ibm_footer{
    height: 30px;
}
