<div id="addform" class="container_add-form">
  <form class="add_form" action="{% url 'reftable' %}" method="POST">

    <div class="form-group">
      <label>Refcode</label>
      <input class="form-control" type="text" name="ref_code" placeholder="reference code" value="" />
    </div>

    <div class="form-group">
      <label>System Number</label>
      <input class="form-control" type="text" name="system_number" placeholder="" value="" />
    </div>

    <div class="form-group">
      <label>Operation</label>
      <input class="form-control" type="text" name="operation_name" placeholder="" value="" />
    </div>

    <div class="form-group">
      <label>Operation Name</label>
      <input class="form-control" type="text" name="ref_code" placeholder="" value="" />
    </div>

    <div class="form-group">
      <label>Hardware message</label>
      <textarea class="form-control" name="hmdescription"></textarea>
    </div>

    <div class="form-group">
      <label>Fix Action</label>
      <textarea class="form-control" name="fix_action"></textarea>
    </div>
    <button type="submit" class="AddButton">Addnew</button>
    <button type="button" name="cancel">cancel</button>
  </form>

</div>
