{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content_references">
    <div class="table_inputs">
        <input class='search_bar' type="text" name="search" >
        <input class='search_button' type="submit" value="Search">
        <a class='table_button' onclick="openAddForm()">NEW</a>
        <a class='table_button'href="">UPDATE</a>
        <a class='table_button'href="">DELETE</a>
    </div>
    
    <div class="table_refcode">

      <table>
          <tr class="table-row">
              <th>#</th>
              <th>REFCODE</th>
              <th>SYSTEM_NUMBER</th>
              <th>OPERATION</th>
              <th>OPERATION NAME</th>
              <th>MESSAGE</th>
              <th>ACTIONS</th>
              <th>CREATED BY</th>
          </tr>
          {% for refcode in refcodes %}
          <tr class="table-row">
              <td>{{ refcode.pk }}</td>
              <td>{{ refcode.ref_code }}</td>
              <td>{{ refcode.system_number }}</td>
              <td>{{ refcode.operation_number }}</td>
              <td>{{ refcode.operation_name }}</td>
              <td>{{ refcode.hmdescription }}</td>
              <td>{{ refcode.fix_action }}</td>
              <td>{{ refcode.created_by }}</td>

          </tr>
          {% endfor %}
      </table>
    </div>
    {% include 'features/addform.html' %}

</div>

<script>
  function openAddForm(){
    console.log('hello world')
    document.getElementById("addform").style.display = "block";
  };

  function closeAddForm(){
    document.getElementById("addform").style.display = "none";

  }
</script>

{% endblock content %}
