{% extends 'base.html' %}
{% load static %}
{% block content %}

<div class="content_references">
    <div class="table_inputs">
    <form action="{% url 'reftable' %}" method="GET">
      {% csrf_token %}
      <input class='search_bar' type="text" name="query" >
      <input class='search_button' type="submit" value="Search">
    </form>

        <a class='table_button' onclick="openAddForm()">NEW</a>
        <a class='table_button'href="">UPDATE</a>
        <form class='table_button' action="{% url 'deleterefcode' %}" method='POST'>
          {% csrf_token %}
          <input id="pk_value" type="hidden" name="pk" value=""/>
          <button id="delete_button" class='delete_button' type="submit" disabled=True>DELETE</button>
        </form>
        
    </div>
    
    <div class="table_refcode">

      <table>
          <tr class="table-row">
              <th>#</th>
              <th>REFCODE</th>
              <th>SYSTEM_NUMBER</th>
              <th>OPERATION</th>
              <th>OPERATION NAME</th>
              <th>MESSAGE</th>
              <th>ACTIONS</th>
              <th>CREATED BY</th>
          </tr>
          {% for refcode in refcodes %}
          <tr class="table-row" onclick="enableDeleteButton()">
              <td >{{ refcode.pk }}</td>
              <td>{{ refcode.ref_code }}</td>
              <td>{{ refcode.system_number }}</td>
              <td>{{ refcode.operation_number }}</td>
              <td>{{ refcode.operation_name }}</td>
              <td>{{ refcode.hmdescription }}</td>
              <td>{{ refcode.fix_action }}</td>
              <td>{{ refcode.created_by }}</td>

          </tr>
          {% endfor %}
      </table>
    </div>
    {% include 'features/addform.html' %}

</div>

<script>
  function openAddForm(){
    console.log('hello world')
    document.getElementById("addform").style.display = "block";
  };

  function closeAddForm(){
    document.getElementById("addform").style.display = "none";

  }
  /* Clickeable table  code START */
  var table = document.getElementsByTagName("table")[0];
  var tbody = table.getElementsByTagName("tbody")[0];
  tbody.onclick = function (e) {
      e = e || window.event;
      var data = [];
      var target = e.srcElement || e.target;
      while (target && target.nodeName !== "TR") {
          target = target.parentNode;
      }
      if (target) {
          var cells = target.getElementsByTagName("td");
          
          for (var i = 0; i < cells.length; i++) {
              data.push(cells[i].innerHTML);
              if (cells[i].style.backgroundColor == "white"){
                cells[i].style.backgroundColor = "transparent";
                cells[i].style.color ="white";
              }
              else{
                cells[i].style.backgroundColor ="white";
                cells[i].style.color ="black";
              }

              
          }
      }
      pk_value = data[0];
      document.getElementById("pk_value").value = pk_value;
  };
    // Enable Delete button when someone click a table row
    function enableDeleteButton(){
      if (document.getElementById("delete_button").disabled == true){
        document.getElementById("delete_button").disabled = false;
      }
      else{
        document.getElementById("delete_button").disabled = true;
      }
    }
    
  /* Clickeable table  code END*/
</script>

{% endblock content %}
