{% load static %}
<nav class="nav_menu">
    <div class="nav_menu--container">
        <div class="menu--item">
            <a href="">HOME</a>
            <i class="fa fa-home fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">REFERENCES</a>
            <i class="fa fa-bug fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">BLOG</a>
            <i class="fa fa-rss fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">TEAM Z</a>
            <i class="fa fa-users fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">MANUALS</a>
            <i class="fa fa-book fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">VOCABULARY</a>
            <i class="fa fa-lightbulb-o fa-lg"></i>
        </div>
        <div class="menu--item">
            <a href="">STATUS</a>
            <i class="fa fa-bar-chart fa-lg"></i>
        </div>
    </div>
</nav>