{% extends 'feed.html' %}
{% load static %}
{% block content %}
<section class="auth_container">

    <div class="image_container">
      <img src="{% static 'app_images/lettersibmz.png'%}" alt="">
    </div>


    
    <div class="form_container">
      <form class="form" action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {% if error %}
            <p style='color:red;'>{{ error }}</p>
        {% endif %}
        <div class="form_fields">
          <input class="form--item" type="text" name="username" placeholder="Username">
          <input class="form--item" type="password" name="password" placeholder="password">
        </div>
        <button class='form--button' type="submit" name="button">Sign In</button>
        <div class="form_features">
          <label for=""><input type="checkbox" name="Remember me" value="Remember me"> Remember me</label> 
          <a class="form_features--forgot" href="#">I forgot my password</a>
        </div>
      </form>
    </div>

</section>

{% endblock %}
