{% extends "base.html" %}
{% load static %}
{% block head %}
<title>@{{ user.username }} | Update profile </title>
{% endblock %}

{% block content %}
<div class="profile_info">
    <div class="media">
        {% if profile.picture %}
        <img src="/{{ profile.picture.url }}" height="100" />
        {% else%}
        <img src="{% static '/pictures/default.png' %}" height="50" />
        {% endif %}

        <div class="media-body">
            <h5 class="field">@{{ user.username }} | {{ user.get_full_name }}</h5>
            <div class="edit-profile-button">
                <a href="{% url 'update' %}">
                    <h5>Edit Profile</h5>
                </a>
            </div>
        </div>
    </div>
    <div class="profile_content">
        <div class="profile_content--biography">
            <label>Biography</label>
            <p>{{ profile.biography }}</p>
        </div>
        <div >
            <label>Position</label>
            <p>{{ profile.position }}</p>
        </div>
        <div >
            <label>Shift</label>
            <p>{{ profile.shift }}</p>
        </div>
        <div >
            <label>E-Mail</label>
            <p>{{ user.email }}</p>
        </div>
        <div >
            <label>Phone</label>
            <p>{{ profile.phone_number }}</p>
        </div>
        <div>
            <label>Website</label>
            <p>{{ profile.website }}</p>
        </div>
    </div>
</div>

{% endblock %}
